---
title: Andrej Korec
subtitle: Painting canvases
description: "High quality Talens canvas, processed professionally."
permalink: /en/
layout: default
published: true
group: index
lang: en
language: English
og-locale: en_US
og-image: andrej-korec-maliarske-platna-patricia-koysova-atelier-og-w1200.jpg
order: 2
---
<main class="px1">
  <div class="ctr">

    <div class="row py05">
      <div class="col cd9">
        {% include image100vw.html basename="andrej-korec-maliarske-platna-patricia-koysova-atelier-kruh" alt="stretchers bar in the shape of a circle and stretched canvas for Patrícia Koyšová" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd4 ofd3 h2">
        <h1 style="display:none;">{{ page.title }}
          {% if page.subtitle %}<span class="h2 mt05">{{ page.subtitle }}</span>{% endif %}
        </h1>
        <p>Welcome. My name is Andrej Korec. I produce canvases and various washers under painting.</p>
        <p>Based on my own experience I know that the individual approach is the most important aspect which meets your requirements.</p>
        <p>I look forward to working with you.</p>
      </div>
    </div>

  </div>
</main>

{% include products-tiles.html %}
