---
title: "Stretched canvas"
description: "Your requirements are challenge for me, whether it is about isolation primed canvas or primed according to your needs."
permalink: /en/stretched-canvas/
layout: default
group: product-group
lang: en
language: English
og-locale: en_US
og-image: napnute-platno-sepsovane-lan-blind-ram-dub-og-w1200.jpg
thumbnail: napnute-platna.png
order: 1
menu_exclude: false
sitemap:
  priority: 1
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd5 ofd3">
        <p>The canvas is one of the most widely used washers for painting. From my offer, you can choose a wide range of canvas - 100% linen, cotton or their combination. As well is available primed canvas - painted with basic paint which is immediately ready for painting and primed canvas - in case when you prefer to prepare the foundation according to your needs.</p>
        <p>Your requirements are challenge for me, whether it is about isolation primed canvas or primed according to your needs.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="napnute-platna-na-tenkom-a-hrubom-blind-rame" alt="stretched canvas on a thin and thick stretcher bars" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="napnute-platno-na-atypickom-priereze-blind-ramu" alt="stretched canvas on an atypical cross section of stretcher bars" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">The stretched canvas on a thin and thick stretcher bars.</p>
      </div>
      <div class="col c6">
        <p class="pr05">The stretched canvas on an atypical cross section of stretcher bars.</p>
      </div>
    </div>


    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="napnute-platno-na-atypickych-blind-ramoch" alt="stretched canvas on atypical stretcher frames" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="rucna-izolacia-a-sepsovanie-platna" alt="hand isolation and stretcher of canvas" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">The stretched canvas on atypical stretcher frames.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Hand isolation and stretcher of canvas.</p>
      </div>
    </div>


    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="napnute-platno-sepsovane-lan-blind-ram-dub" alt="stretcher linen canvas on the oak stretcher frame" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">The stretcher linen canvas on the oak stretcher frame.</p>
      </div>
    </div>


    <div class="row pt05">
      <div class="col cd5 ofd3">
        <p>If you have any questions or want to learn more about stretched canvas, please <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">email me</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
