---
title: Stretcher bars
description: "If you have your own idea about it, for example ​​what shape should your stretcher frames have or what cross sections your stretcher bar needs than please feel free to contact me."
permalink: /en/stretcher-bars/
layout: default
group: product-group
lang: en
language: English
og-locale: en_US
og-image: blind-ram-napnute-platno-kruh-vystuha-og-w1200.jpg
thumbnail: blind-ramy.png
order: 3
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>

<div class="px1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd5 ofd3">
        <p>The stretcher bars are made in the joiner workshop from dry spruce wood. The frame is joined without glue, so the canvas could be stretched anytime when necessary.</p>
        <p>Precisely treatment of wooden slats ensures high quality of joins. In offer are standard cross-sections frame 20x45 mm, 25x55 mm and 45x45 mm, or other sizes according to needs.</p>
        <p>If you have your own idea about it, for example ​​what shape should your stretcher frames have or what cross sections your stretcher bar needs than please feel free to contact me.</p>
      </div>
    </div>

    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Shapes</h2>
        <p>According to your order it is possible to construct stretcher bars in any shape or size.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-obluk" alt="stretchers bar with arch and stretched canvas" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-skosena-strana" alt="stretchers bar with bevelled side and stretched canvas" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">The stretchers bar with arch and stretched canvas.</p>
      </div>
      <div class="col c6">
        <p class="pr05">The stretchers bar with bevelled side and stretched canvas.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-sestuholnik" alt="stretchers bar in the shape of a hexagonal and stretched canvas" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-kruh-vystuha" alt="stretchers bar in the shape of a circle and stretched canvas" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">The stretchers bar in the shape of a hexagonal and stretched canvas.</p>
      </div>
      <div class="col c6">
        <p class="pr05">The stretchers bar in the shape of a circle and stretched canvas.</p>
      </div>
    </div>

    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Cross-sections</h2>
        <p>If you have your own idea about the shape, thickness, cross-sectional stretcher bars, feel free to reach me.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-20x45" alt="stretcher bar with cross-section 20x45 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x45" alt="stretcher bar with cross-section 30x45 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">The stretcher bar with cross-section 20x45 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">The stretcher bar with cross-section 30x45 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x72" alt="stretcher bar with cross-section 30x72 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x48" alt="stretcher bar with cross-section 30x48 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">The stretcher bar with cross-section 30x72 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">The stretcher bar with cross-section 30x48 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-45x45" alt="stretcher bar with cross-section 45x45 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-48x42" alt="stretcher bar with cross-section 48x42 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">The stretcher bar with cross-section 45x45 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">The stretcher bar with cross-section 48x42 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-20x50" alt="aluminum profile with cross-section 20x50 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-35x50" alt="aluminum profile with cross-section 35x50 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Aluminum profile with cross-section 20x50 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Aluminum profile with cross-section 35x50 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-50x50" alt="aluminum profile with cross-section 50x50 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Aluminum profile with cross-section 50x50 mm.</p>
      </div>
    </div>

    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>If you have any questions or want to learn more about stretcher bars, please <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">contact me</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
