---
title: Washers under paintings
description: "Wooden boards or plywood on the frame provide an alternative to canvas and serve as an ideal base not only for encaustic, painting or icons."
permalink: /en/washers-under-paintings/
layout: default
group: product-group
lang: en
language: English
og-locale: en_US
thumbnail: podlozky-pod-malbu.png
og-image: podlozka-pod-malbu-preglejka-na-rame-rozne-velkosti-og-w1200.jpg
order: 4
menu_exclude: false
sitemap:
  priority: 1
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd5 ofd3">
        <p>Even the ancient masters knew the quality of paintings on wooden substrates. Wooden board was in the15 century the most widely used substrate under the painting. Perhaps the most famous work of art in history - Mona Lisa is the perfect example.</p>
        <p>Wooden boards or plywood on the frame provide an alternative to canvas and serve as an ideal base not only for encaustic, painting or icons. They provide the opportunity to return back to the principles of the old masters.</p>
        <p>The board is coated with glue and sepsis, or glued primed canvas on board will be ideal for your production.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">The plywood on frames</h2>
        <p>The plywood on a frame provides an alternative to the canvas.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-preglejka-na-rame-rozne-hrubky" alt="plywood for frame frames of different thicknesses" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-preglejka-na-rame-rozne-velkosti" alt="different sizes of plywood to the frame" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Plywood for frame frames of different thicknesses.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Different sizes of plywood to the frame.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Wooden boards</h2>
        <p>Wooden boards provide an alternative to the canvas.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-dub-rucne-sepsovana" alt="hand made primed an oak board" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-smrek-rucne-sepsovana" alt="hand primed a spruce board" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Hand made primed an oak board.</p>
      </div>
      <div class="col c6">
        <p class="pr05">The hand primed a spruce board.</p>
      </div>
    </div>


    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-smrek-sepsovane-platno" alt="primed canvas is glued to the spruce board" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">The primed canvas is glued to the spruce board.</p>
      </div>
    </div>


    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>If you have any questions or want to learn more about washers under paintings, please <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">contact me</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
