---
title: Gewebe
description: "Ihre Anforderungen sind für mich eine neue Herausforderung. Ob es um die Isolation des Rohgewebes oder grundiertes Gewebe nach Ihren Bedürfnisse geht."
permalink: /de/gewebe/
layout: default
group: product-group
lang: de
language: German
og-locale: de_DE
og-image: platno-sepsovane-bavlna-310g-og-w1200.jpg
thumbnail: platno.png
order: 2
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

   <div class="row">
      <div class="col cd5 ofd3">
        <p>Gewebe ist einer von den verbreiterten Malgründen für die Malerei. Von meinem Angebot können Sie sich aus diesen Gewebearten – 100% Leinen, Baumwollen oder Mischgewebe wählen. Zur Verfügung stehen ebenso die grundierten Gewebe, die in einer gründlichen Schicht angestrichen sind und gleich zur Malerei vorbereiten sind.</p>
        <p>Falls Sie die Vorbereitung des Malgrundes nach Ihren Bedürfnissen bevorzugen, biete ich Ihnen Rohgewebe an. Ihre Anforderungen sind für mich eine neue Herausforderung.</p>
        <p>Ob es um die Isolation des Rohgewebes oder grundiertes Gewebe nach Ihren Bedürfnisse geht.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Grundierte gewebe</h2>
        <p>Gewebe, die mit einer gründlichen Schicht angestrichen sind, die sie gleich zur Malerei vorbereiten.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-bavlna-310g-3by1" alt="grundierte gewebe Baumwollgewebe 310 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Baumwollgewebe canvas, 310 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-bavlna-viskoza-polyester-320g-3by1" alt="grundierte gewebe Baumwolle Viskose Polyester 320 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Grundierte gewebe, Baumwolle, Viskose und Polyester, 320 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-370g-3by1" alt="Grundiertes Reinleinen 370 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Grundiertes Reinleinen, 370 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-430g-3by1" alt="Grundiertes Reinleinen 430 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Grundiertes Reinleinen, 430 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-355g-3by1" alt="Grundiertes Reinleinen 355 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Grundiertes Reinleinen, 355 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-bavlna-viskoza-polyester-345g-3by1" alt="grundierte gewebe Baumwolle Viskose Polyester 345 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Grundierte gewebe, Baumwolle, Viskose und Polyester, 345 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-445g-3by1" alt="Grundiertes Reinleinen 445 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Grundiertes Reinleinen, 445 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-580g-3by1" alt="Grundiertes Reinleinen 580 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Grundiertes Reinleinen, 580 g/m².</p>
      </div>
    </div>



    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Gewebe</h2>
        <p>Rohgewebe für Sie, die die Vorbereitung des Malgrunds nach eigen Bedürfnissen bevorzugen.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-bavlna-330g-3by1" alt="Rohgewebe Baumwollgewebe 330 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Baumwollgewebe, 330 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-bavlna-380g-3by1" alt="Rohgewebe Baumwollgewebe 380 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Baumwollgewebe, 380 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-lan-360g-3by1" alt="Reines Leinen 360 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Reines Leinen, 360 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-juta-380g-3by1" alt="Rohgewebe Reine Jute 380 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Rohgewebe – Reine Jute, 380 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-lan-480g-3by1" alt="Reines Leinen 480 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>Reines Leinen, 480 g/m².</p>
      </div>
    </div>


    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>Falls Sie beliebige Fragen haben, oder Sie mehr über die Keilrahmen die Malerleinwände und die Malgründe für die Malerei erfahren wollen, zögern Sie bitte nicht, <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">mich zu kontaktieren</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
