---
title: Andrej Korec
subtitle: Bespannter Keilrahmen
description: "Eine hochwertige Gesso-Leinwand, bearbeitet auf einem professionellen Niveau."
permalink: /de/
layout: default
published: true
group: index
lang: de
language: German
og-locale: de_DE
og-image: andrej-korec-maliarske-platna-patricia-koysova-atelier-og-w1200.jpg
order: 4
---
<main class="px1">
  <div class="ctr">

    <div class="row py05">
      <div class="col cd9">
        {% include image100vw.html basename="andrej-korec-maliarske-platna-patricia-koysova-atelier-kruh" alt="Patrícia Koyšová" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd4 ofd3 h2">
        <h1 style="display:none;">{{ page.title }}
          {% if page.subtitle %}<span class="h2 mt05">{{ page.subtitle }}</span>{% endif %}
        </h1>
        <p>Willkommen, mein Name ist Andrej Korec. Ich fertige die Malerleinwände und verschiedene Malgründe für die Malerei.</p>
        <p>Aufgrund meiner Erfahrungen weiß ich, dass eine individuelle Vorgehensweise für die Erfüllung Ihrer Anforderungen zu den wichtigsten Aspekten gehört.</p>
        <p>Ich freue mich auf die Zusammenarbeit.</p>
      </div>
    </div>

  </div>
</main>

{% include products-tiles.html %}
