---
title: Keilrahmen
description: "Falls Sie Ihre eigene Vorstellung davon haben, welche Form Ihr Keilrahmen haben sollte, oder welcher Querschnitt des Keilrahmens Sie brauchen, sagen Sie mir bitte."
permalink: /de/keilrahmen/
layout: default
group: product-group
lang: de
language: German
og-locale: de_DE
og-image: blind-ram-napnute-platno-kruh-vystuha-og-w1200.jpg
thumbnail: blind-ramy.png
order: 3
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd5 ofd3">
        <p>Die Keilrahmen werden in der Tischlerwerkstatt aus trockenem Fichtenholz hergestellt. Der Rahmen ist ohne eine Verleimung verbunden, die die eventuelle spätere Gewebespannung möglichen. Eine mehr präzise Bearbeitung der hölzernen Keilrahmen sichert eine hohe Qualität der Verbindungen.</p>
        <p>Im Angebot sind Standardmaßen der Querschnitt des Rahmens von 20x45 mm und von 25x55mm, aber auch andere Maßen nach dem Bedarf.</p>
        <p>Falls Sie Ihre eigene Vorstellung davon haben, welche Form Ihr Keilrahmen haben sollte, oder welcher Querschnitt des Keilrahmens Sie brauchen, sagen Sie mir bitte.</p>
      </div>
    </div>

    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Formen</h2>
        <p>Formen – nach Ihrer Bestellung ist es möglich einen Keilrahmen in beliebigen Formen ob Dimensionen anzufertigen.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-obluk" alt="Keilrahmen mit dem Bogen und bespannter Keilrahmen" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-skosena-strana" alt="Keilrahmen mit der abgeschrägten Kante und bespannter Keilrahmen" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Keilrahmen mit dem Bogen und bespannter Keilrahmen.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Keilrahmen mit der abgeschrägten Kante und bespannter Keilrahmen.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-sestuholnik" alt="Keilrahmen in Form von Hexagonal und bespannter Keilrahmen" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-kruh-vystuha" alt="Keilrahmen in Form vom Kreis und bespannter Keilrahmen" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Keilrahmen in Form von Hexagonal und bespannter Keilrahmen.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Keilrahmen in Form vom Kreis und bespannter Keilrahmen.</p>
      </div>
    </div>

    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Querschnitte</h2>
        <p>Querschnitte – Falls Sie eigene Vorstellung, von Form, von der Dicke , von dem Querschnitt des Keilrahmens haben, sagen Sie mir bitte.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-20x45" alt="Keilrahmen mit dem Querschnitt 20x45 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x45" alt="Keilrahmen mit dem Querschnitt 30x45 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Keilrahmen mit dem Querschnitt 20x45 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Keilrahmen mit dem Querschnitt 30x45 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x72" alt="Keilrahmen mit dem Querschnitt 30x72 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x48" alt="Keilrahmen mit dem Querschnitt 30x48 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Keilrahmen mit dem Querschnitt 30x72 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Keilrahmen mit dem Querschnitt 30x48 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-45x45" alt="Keilrahmen mit dem Querschnitt 45x45 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-48x42" alt="Keilrahmen mit dem Querschnitt 48x42 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Keilrahmen mit dem Querschnitt 45x45 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Keilrahmen mit dem Querschnitt 48x42 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-20x50" alt="Aluminiumprofil mit Querschnitt 20x50 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-35x50" alt="Aluminiumprofil mit Querschnitt 35x50 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Aluminiumprofil mit Querschnitt 20x50 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Aluminiumprofil mit Querschnitt 35x50 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-50x50" alt="Aluminiumprofil mit Querschnitt 50x50 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Aluminiumprofil mit Querschnitt 50x50 mm.</p>
      </div>
    </div>

    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>Falls Sie beliebige Fragen haben, oder Sie mehr über die Keilrahmen die Malerleinwände und die Malgründe für die Malerei erfahren wollen, zögern Sie bitte nicht, <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">mich zu kontaktieren</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
