---
title: Malgründe für die malerei
description: "Die Holztafeln oder Sperrhölzer auf Rahmen bieten sinnvolle Alternative zu den Malerleinwänden an."
permalink: /de/malgrunde-fur-die-malerei/
layout: default
group: product-group
lang: de
language: German
og-locale: de_DE
thumbnail: podlozky-pod-malbu.png
og-image: podlozka-pod-malbu-preglejka-na-rame-rozne-velkosti-og-w1200.jpg
order: 4
menu_exclude: false
sitemap:
  priority: 1
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd5 ofd3">
        <p>Schon die alten Meister haben eine Qualität der Malerei auf die Malgründe aus Holz gekannt. Der Holztafel war im 15. Jahrhundert am meisten verwendbar die Malgrund für die Malerei. Vielleicht das berühmteste Kunstwerk in der Kunstgeschichte, das das perfekte Beispiel davon ist, ist Mona Lisa.</p>
        <p>Die Holztafeln oder Sperrhölzer auf Rahmen bieten sinnvolle Alternative zu den Malerleinwänden an.</p>
        <p>Sie dienen wie einen idealen Malgrund nicht nur für die Enkaustik sondern auch für die Ikonen. Sie erlauben eine Möglichkeit zur Rückkehr in die Grundsätze der Schaffung von alten Meistern.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Sperrholz auf dem rahmen</h2>
        <p>Sperrhölzer auf dem Rahmen bieten sinnvolle alternative zu den Malerleinwänden an.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-preglejka-na-rame-rozne-hrubky" alt="Sperrholz auf dem Rahmen – verschiedene Dicken der Rahmen" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-preglejka-na-rame-rozne-velkosti" alt="Unterschiedliche Größe der Sperrhölzer auf dem Rahmen" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Sperrholz auf dem Rahmen – verschiedene Dicken der Rahmen.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Unterschiedliche Größe der Sperrhölzer auf dem Rahmen.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Holztafeln</h2>
        <p>Holztafeln bieten sinnvolle alternative zu den Malerleinwänden an.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-dub-rucne-sepsovana" alt="Handgrundierte Eichentafel" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-smrek-rucne-sepsovana" alt="Handgrundierte Fichtentafel" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Handgrundierte Eichentafel.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Handgrundierte Fichtentafel.</p>
      </div>
    </div>


    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-smrek-sepsovane-platno" alt="Grundiertes Gewebe, das auf der Fichtentafel aufgeklebt ist" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Grundiertes Gewebe, das auf der Fichtentafel aufgeklebt ist.</p>
      </div>
    </div>


    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>Falls Sie beliebige Fragen haben, oder Sie mehr über die Keilrahmen die Malerleinwände und die Malgründe für die Malerei erfahren wollen, zögern Sie bitte nicht, <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">mich zu kontaktieren</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
