---
title: Blind rámy
description: "Blind rámy sú vyrábané na Slovensku, zo suchého smrekového drandrej. Rám je spájaný bez lepenia, aby sa plátno dalo kedykoľvek dopnúť."
permalink: /blind-ramy/
layout: default
group: product-group
lang: sk
language: Slovensky
og-locale: sk_SK
og-image: blind-ram-napnute-platno-kruh-vystuha-og-w1200.jpg
thumbnail: blind-ramy.png
order: 3
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>

<div class="px1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd5 ofd3">
        <p>Blind rámy sú vyrábané v stolárskej dielni zo suchého smrekového dreva. Rám je spájaný bez lepenia, aby sa plátno v prípade potreby dalo kedykoľvek dopnúť.</p>
        <p>Precízne opracovanie drevených lamiel zaručuje vysokú kvalitu spojov. V ponuke je štandardný prierez rámu 20x45 mm, ale i iné veľkosti podľa potrieb.</p>
        <p>Ak máte svoju vlastnú predstavu o tom, aký tvar by mal mať váš blind rám, alebo aký prierez blind rámu potrebujete, neváhajte ma osloviť.</p>
      </div>
    </div>

    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Tvary</h2>
        <p>Podľa vašej objednávky je možné zhotoviť blindrám akýchkoľvek tvarov či veľkostí.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-obluk" alt="blind rám s oblúkom a napnuté plátno" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-skosena-strana" alt="blind rám so skosenou stranou a napnuté plátno" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Blind rám s oblúkom a napnuté plátno.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Blind rám so skosenou stranou a napnuté plátno.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-sestuholnik" alt="blind rám v tvare hexagonal a napnuté plátno" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-kruh-vystuha" alt="blind rám v tvare kruhu a napnuté plátno" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Blind rám v tvare hexagonal a napnuté plátno.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Blind rám v tvare kruhu a napnuté plátno.</p>
      </div>
    </div>

    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Prierezy</h2>
        <p>Ak máte vlastnú predstavu o tvare, hrúbke, priereze blind rámu, neváhajte ma osloviť.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-20x45" alt="blind rám s prierezom 20x45 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x45" alt="blind rám s prierezom 30x45 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Smreková napínacia lišta s prierezom 20x45 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Smreková napínacia lišta s prierezom 30x45 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x72" alt="blind rám s prierezom 30x72 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x48" alt="blind rám s prierezom 30x48 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Smreková napínacia lišta s prierezom 30x72 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Smreková napínacia lišta s prierezom 30x48 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-45x45" alt="blind rám s prierezom 45x45 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-48x42" alt="blind rám s prierezom 48x42 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Smreková napínacia lišta s prierezom 45x45 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Smreková napínacia lišta s prierezom 48x42 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-20x50" alt="hliníkový profil s prierezom 20x50 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-35x50" alt="hliníkový profil s prierezom 35x50 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Hliníkový profil s prierezom 20x50 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Hliníkový profil s prierezom 35x50 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-50x50" alt="hliníkový profil s prierezom 50x50 mm" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Hliníkový profil s prierezom 50x50 mm.</p>
      </div>
    </div>

    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>Ak máte akékoľvek otázky, alebo sa chcete dozvedieť viac o blind rámoch, <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">napíšte mi</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
