---
title: Andrej Korec
subtitle: Maliarske plátna
description: "Pripravujem plátna pre profesionálnych výtvarníkov na Slovensku i v Čechách. Na svoje blind rámy napínam iba kvalitné plátna z Talianska a Belgicka. Ponúkam Vám moje dlhoročné skúsenosti a osobný prístup ku každému z Vás."
layout: default
published: true
group: index
lang: sk
language: Slovensky
og-locale: sk_SK
og-image: andrej-korec-maliarske-platna-patricia-koysova-atelier-og-w1200.jpg
order: 1
---
<main class="px1">
  <div class="ctr">

    <div class="row pt05 pb1">
      <div class="col cd9">
        {% include image100vw.html basename="andrej-korec-maliarske-platna-patricia-koysova-atelier-kruh" alt="príprava diplomovej série s názvom ZOOM maliarky Patrície Koyšovej" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd4 ofd3 h2">
        <h1 style="display:none;">{{ page.title }}
          {% if page.subtitle %}<span class="h2 mt05">{{ page.subtitle }}</span>{% endif %}
        </h1>
        <p>Vitajte, moje meno je Andrej Korec. Vyrábam maliarske plátna a rôzne podložky pod maľbu.</p>
        <p>Na základe mojich skúseností viem, že práve individuálny prístup je tým najdôležitejším aspektom ako splniť vaše požiadavky.</p>
        <p>Teším sa na spoluprácu s Vami.</p>
      </div>
    </div>

  </div>
</main>

{% include products-tiles.html %}
