---
title: Napnuté plátna
description: "Individuálne požiadavky na plátno a blind rám."
permalink: /napnute-platna/
layout: default
group: product-group
lang: sk
language: Slovensky
og-locale: sk_SK
og-image: napnute-platno-sepsovane-lan-blind-ram-dub-og-w1200.jpg
thumbnail: napnute-platna.png
order: 1
menu_exclude: false
sitemap:
  priority: 1
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd5 ofd3">
        <p>Plátno napnuté na blind ráme je dnes najpoužívanejším podkladom pod maľbu. Z mojej ponuky si môžete vybrať rôzne prierezy a tvary blind rámu, rovnako ako i druh plátna.</p>
        <p>Výsledkom je napnuté plátno akejkoľvek veľkosti či tvaru, na mieru presne podľa vašich potrieb.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="napnute-platna-na-tenkom-a-hrubom-blind-rame" alt="napnuté plátna na tenkom a hrubom blind ráme" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="napnute-platno-na-atypickom-priereze-blind-ramu" alt="napnuté plátno na atypickom priereze blind rámu" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Napnuté plátna na tenkom a hrubom blind ráme.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Napnuté plátno na atypickom priereze blind rámu.</p>
      </div>
    </div>


    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="napnute-platno-na-atypickych-blind-ramoch" alt="napnuté plátno na atypickych blind rámoch" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="rucna-izolacia-a-sepsovanie-platna" alt="ručná izolácia a šepsovanie plátna" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Napnuté plátno na atypickych blind rámoch.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Ručná izolácia a šepsovanie plátna.</p>
      </div>
    </div>


    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="napnute-platno-sepsovane-lan-blind-ram-dub" alt="šepsované lanové plátno na dubovom blind ráme" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Šepsované lanové plátno na dubovom blind ráme.</p>
      </div>
    </div>


    <div class="row pt05">
      <div class="col cd5 ofd3">
        <p>Ak máte akékoľvek otázky, alebo sa chcete dozvedieť viac o napnutých plátnach, <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">napíšte mi</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
