---
title: Plátno
description: "Z mojej širokej ponuky si môžete vybrať plátno šepsované alebo nešepsované."
permalink: /platno/
layout: default
group: product-group
lang: sk
language: Slovensky
og-locale: sk_SK
og-image: platno-sepsovane-bavlna-310g-og-w1200.jpg
thumbnail: platno.png
order: 2
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

   <div class="row">
      <div class="col cd5 ofd3">
        <p>Plátno je jednou z najrozšírenejších podložiek pre maľbu. Z mojej ponuky si môžete vybrať širokú škálu plátna - 100% ľanové, bavlnené alebo ich kombináciu.</p>
        <p>Rovnako sú k dispozícii plátna šepsované – natreté základným náterom pripravené ihneď k maľbe a takisto nešepsované – pre prípad, že uprednostňujete prípravu podkladu podľa svojich potrieb.</p>
        <p>Vaše požiadavky sú pre mňa novou výzvou. Či už ide o izoláciu nešepsovaného plátna alebo šeps podľa vašich potrieb.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Šepsované plátno</h2>
        <p>Šepsované plátno môžete použiť ihned k maľovaniu.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-bavlna-310g-3by1" alt="šepsované plátno bavlna 310 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>1. Šepsované bavlnené plátno 310 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-bavlna-viskoza-polyester-320g-3by1" alt="šepsované plátno bavlna viskóza polyester 320 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>2. Šepsované plátno, bavlna, viskóza, polyester 320 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-370g-3by1" alt="šepsované ľanové plátno 370 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>3. Šepsované ľanové plátno 370 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-430g-3by1" alt="šepsované ľanové plátno 430 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>4. Šepsované ľanové plátno 430 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-355g-3by1" alt="šepsované ľanové plátno 355 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>5. Šepsované ľanové plátno 355 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-bavlna-viskoza-polyester-345g-3by1" alt="šepsované plátno bavlna viskóza polyester 345 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>6. Šepsované plátno, bavlna, viskóza, polyester 345 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-445g-3by1" alt="šepsované ľanové plátno 445 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>7. Šepsované ľanové plátno 445 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-sepsovane-lan-580g-3by1" alt="šepsované ľanové plátno 580 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>8. Šepsované ľanové plátno 580 g/m².</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Nešepsované plátno</h2>
        <p>Nešepsované plátno je pre tých, ktorý uprednostňujú prípravu podkladu podľa svojich potrieb.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-bavlna-330g-3by1" alt="nešepsované bavlnené plátno 330 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>A. Nešepsované bavlnené plátno 330 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-bavlna-380g-3by1" alt="nešepsované bavlnené plátno 380 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>B. Nešepsované bavlnené plátno 380 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-lan-360g-3by1" alt="nešepsované ľanové plátno 360 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>C. Nešepsované ľanové plátno 360 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-juta-380g-3by1" alt="nešepsované plátno juta 380 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>D. Nešepsované plátno, juta 380 g/m².</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="platno-nesepsovane-lan-480g-3by1" alt="nešepsované ľanové plátno 480 g/m²" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col cd9 ofd3">
        <p>E. Nešepsované ľanové plátno 480 g/m².</p>
      </div>
    </div>


    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>Ak máte akékoľvek otázky, alebo sa chcete dozvedieť viac o maliarských plátnach, <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">napíšte mi</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
