---
title: Podložky pod maľbu
description: "Ponúkam Vám drevené dosky, alebo preglejku na ráme, ako alternatívu k maliarskym plátnam. Preglejka na ráme je najlepší podklad pre enkaustiku."
permalink: /podlozky-pod-malbu/
layout: default
group: product-group
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: podlozky-pod-malbu.png
og-image: podlozka-pod-malbu-preglejka-na-rame-rozne-velkosti-og-w1200.jpg
order: 4
menu_exclude: false
sitemap:
  priority: 1
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd5 ofd3">
        <p>Už starí majstri poznali kvality maľby na drevených podkladoch. Drevená doska bola v 15. storočí najpoužívanejším podkladom pod maľbu. Azda najznámejšie dielo dejín umenia - Mona Lisa, je toho dokonalým príkladom.</p>
        <p>Drevené dosky, alebo preglejky na ráme poskytujú alternatívu k maliarskym plátnam a slúžia tak ako ideálny podklad nielen pre enkaustiku, či maľbu ikon. Poskytujú možnosť návratu do princípov tvorby starých majstrov.</p>
        <p>Doska s vrstvou gleju a šepsu, či nalepené našepsované plátno na doske bude možno pre vašu tvorbu ideálnym podkladom.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Preglejka na ráme</h2>
        <p>Preglejky na ráme poskytujú alternatívu k maliarskym plátnam.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-preglejka-na-rame-rozne-hrubky" alt="preglejka na ráme rôzne hrúbky rámov" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-preglejka-na-rame-rozne-velkosti" alt="rôzne veľkosti preglejok na ráme" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Preglejka na ráme rôzne hrúbky rámov.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Rôzne veľkosti preglejok na ráme.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Drevené dosky</h2>
        <p>Drevené dosky poskytujú alternatívu k maliarskym plátnam.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-dub-rucne-sepsovana" alt="ručne šepsovaná dubová doska" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-smrek-rucne-sepsovana" alt="ručne šepsovaná smreková doska" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Ručne šepsovaná dubová doska.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Ručne šepsovaná smreková doska.</p>
      </div>
    </div>


    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-smrek-sepsovane-platno" alt="šepsované plátno nalepené na smrekovej doske" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Šepsované plátno nalepené na smrekovej doske.</p>
      </div>
    </div>


    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>Ak máte akékoľvek otázky, alebo sa chcete dozvedieť viac o podložkách pod maľbu, <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">napíšte mi</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
