<!-- Get values from main index.html file -->
{% assign ind = (site.pages | sort: "order" | where: "group" , "index" | where: "lang" , page.lang) %}
{% assign index_title = ind[0].title %}
{% assign index_subtitle = ind[0].subtitle %}
{% assign index_url = ind[0].url %}

<header class="px1">

  <div class="ctr">
    <div class="row">
      <div class="col cd9 ofd3">

          <!-- Site name -->
          <a class="pyr01 h2" href="{{ index_url | replace:"index.html","" | prepend: site.baseurl }}">{{ index_title }}</a>
          <!-- End of Site name -->

      </div>
    </div>
  </div>


  <div class="ctr">
    <div class="row">
      <div class="col cd9 ofd3">

          <!-- Products menu -->
          {% assign pages = site.pages | sort: "order" %}
          {% for p in pages %}
            {% if p.title and p.lang == page.lang and (p.group == "product-group" ) %}
              <!-- Detect active page by url -->
              {% if (page.url == p.url) %}
                <a class="pb01 pr025 act" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              {% else %}
                <a class="pb01 pr025" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- End of Products menu -->

      </div>
    </div>
  </div>


  <div class="ctr">
    <div class="row">
      <div class="col cd9 ofd3">

          <!-- About menu -->
          {% assign pages = site.pages | sort: "order" %}
          {% for p in pages %}
            {% if p.title and p.lang == page.lang and (p.group == "about" or p.group == "contact" or p.group == "reference" ) %}
              <!-- Detect active page by url -->
              {% if (page.url == p.url) %}
                <a class="pb01 pr025 act" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              {% else %}
                <a class="pb01 pr025" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- End of About menu -->

      </div>
    </div>
  </div>


  <div class="ctr">
    <div class="row pb05">
      <div class="col cd9 ofd3">

          <!-- Language menu -->
          {% assign counter = 0 %}
          {% assign pages = (site.pages | sort: "order" | where: "group" , "index" | where: "published" , "true") %}
          {% if pages.size > 1 %}
            {% for p in pages %}
              {% if page.group == "index" or page.group == "error" %}
                {% if counter == 0 %}
                  {% assign twin_url = "/" %}
                {% else %}
                  {% capture twin_url %}/{{ p.lang }}/{% endcapture %}
                {% endif %}
              {% else %}
                {% assign twin = (site.pages | sort: "order" | where: "group" , page.group | where: "order" , page.order | where: "lang" , p.lang ) %}
                {% assign twin_url = twin[0].url %} {% endif %}
                {% if twin_url and p.lang %}
                  <!-- Detect current page by language -->
                  {% if page.lang == p.lang %}
                    <a class="pyr025 act ttu" href="{{ twin_url | replace:" index.html "," " | prepend: site.baseurl }}" hreflang="{{ p.lang }}" lang="{{ p.lang }}">{{ p.lang }}</a>
                  {% else %}
                    <a class="pyr025 ttu" href="{{ twin_url | replace:" index.html "," " | prepend: site.baseurl }}" hreflang="{{ p.lang }}" lang="{{ p.lang }}">{{ p.lang }}</a>
                  {% endif %}
                {% endif %}
                {% assign counter=counter | plus:1 %}
            {% endfor %}
          {% endif %}
          <!-- End of Language menu -->

      </div>
    </div>
  </div>


</header>
