{% assign alt = include.alt %}
{% assign basename = include.basename %}
{% if include.extension %}
  {% assign extension = include.extension %}
{% else %}
  {% assign extension = "jpg" %}
{% endif %}
{% assign name_ratio = "false" %}


{% capture path_w600 %}{{ site.baseurl }}/img/{{ basename }}-w600.{{ extension }}{% endcapture %}




{% capture ends_with %}{{'-kruh'}}{% endcapture %}
{% capture some_string %}{{'some string with subString'}}{% endcapture %}

{% assign ends_with_size = ends_with | size %}
{% assign basename_size = basename | size %}
{% assign start_index = basename_size | minus: ends_with_size %}
{% assign result = basename | slice: start_index, ends_with_size %}


{% comment %} if basename contains "-kruh" {% endcomment %}
{% if result == ends_with %}
  {% assign name_ratio = "true" %}
  <div class="crr r11 br50">
{% endif %}

{% if name_ratio == "false" and basename contains "-1by1" %}
  {% assign name_ratio = "true" %}
  <div class="crr r11">
{% endif %}

{% if name_ratio == "false" and basename contains "-2by1" %}
  {% assign name_ratio = "true" %}
  <div class="crr r21">
{% endif %}

{% if name_ratio == "false" and basename contains "-3by1" %}
  {% assign name_ratio = "true" %}
  <div class="crr r31">
{% endif %}

{% if name_ratio == "false" and basename contains "-3by2" %}
  {% assign name_ratio = "true" %}
  <div class="crr r32">
{% endif %}

{% if name_ratio == "false" and basename contains "-4by3" %}
  {% assign name_ratio = "true" %}
  <div class="crr r43">
{% endif %}

{% if name_ratio == "false" and basename contains "-5by4" %}
  {% assign name_ratio = "true" %}
  <div class="crr r54">
{% endif %}

{% if name_ratio == "false" and basename contains "-16by9" %}
  {% assign name_ratio = "true" %}
  <div class="crr r169">
{% endif %}


  <img class="imgf" src="{{ path_w600 }}" 
    alt="{{ alt }}" 
    sizes="50vw">


{% if name_ratio == "true" %}
  </div>
{% endif %}
