<div class="px1 pt05">
  <div class="ctr">

    <div class="row">
      <div class="col ofd3">
      {% assign pages = site.pages | sort: 'order' %}
      {% for p in pages %}
        {% if p.group == "product-group" %}
          {% if p.lang == page.lang and p.thumbnail and p.menu_exclude != true %}

          <div class="col c2 cd1 pr05">

            <!-- Detect active page by url -->
            {% if (page.url == p.url) %}
              {% assign cls = 'class="act"' %}
            {% else %}
              {% assign cls = "" %}
            {% endif %}
            {% assign ttl = p.title | replace: ' ', ' ' %}
            <a {{ cls }} title="{{ ttl }}" href="{{ p.url | prepend: site.baseurl }}">
              <img class="imgf" src="{{ site.baseurl }}/img/{{ p.thumbnail }}" alt="{{ ttl }}" sizes="25vw">
              {% comment %} <div class="tc py01"><span class="fxt">{{ p.title }}</span></div> {% endcomment %}
            </a>

          </div>

          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
    </div>

  </div>
</div>
