---
title: Blind cadres
description: "Des blind cadres sont fabriqués dans une menuiserie en bois d’épicéa sec."
permalink: /fr/blind-cadres/
layout: default
group: product-group
lang: fr
language: French
og-locale: fr_FR
og-image: blind-ram-napnute-platno-kruh-vystuha-og-w1200.jpg
thumbnail: blind-ramy.png
order: 3
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd5 ofd3">
        <p>Des blind cadres sont fabriqués dans une menuiserie en bois d’épicéa sec. Les élèments de chaque cadre sont mis ensemble sans collage pour que cela soit possible de tendre la toile en cas de besoin.</p>
        <p>Le façonage précis des lamelles en bois garanti la haute qualité des liaisons. Nous offrons des cadres du format standard: 20x45mm et 25x55mm mais bien sûr d’autres formats aussi, tout dépend de vos besoins.</p>
        <p>Si vous savez exactement de quel format vous avez besoin, n’hésitez pas à vous adresser à moi.</p>
      </div>
    </div>

    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Formes</h2>
        <p>Selon votre choix, il est possible de produire des blind cadres de n’importe quel format.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-obluk" alt="blind cadre avec arc et la toile encadrée" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-skosena-strana" alt="blind cadre dont un côté est coupé et la toile encadrée" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Un blind cadre avec arc et la toile encadrée.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Un blind cadre dont un côté est coupé et la toile encadrée.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-sestuholnik" alt="blind cadre hexagonal et la toile encadrée" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-napnute-platno-kruh-vystuha" alt="blind cadre rond et la toile encadrée" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Un blind cadre hexagonal et la toile encadrée.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Un blind cadre rond et la toile encadrée.</p>
      </div>
    </div>

    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Profil</h2>
        <p>Si vous savez exactement de quelle taille ou de quel format du cadre vous avez besoin, n’hésitez pas à me l’indiquer.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-20x45" alt="blind cadre du format 20x45 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x45" alt="blind cadre du format 30x45 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Un blind cadre du format 20x45 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Un blind cadre du format 30x45 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x72" alt="blind cadre du format 30x72 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-30x48" alt="blind cadre du format 30x48 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">The blind cadre du format 30x72 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">The blind cadre du format 30x48 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-45x45" alt="blind cadre du format 45x45 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-smrek-prierez-48x42" alt="blind cadre du format 48x42 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">The blind cadre du format 45x45 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">The blind cadre du format 48x42 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-20x50" alt="profilé en aluminium de section 20x50 mm" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-35x50" alt="profilé en aluminium de section 35x50 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Profilé en aluminium de section 20x50 mm.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Profilé en aluminium de section 35x50 mm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="blind-ram-hlinik-prierez-50x50" alt="profilé en aluminium de section 50x50 mm" %}
      </div>
    </div>

    <div class="row pt05 pb1">
      <div class="col c6">
        <p class="pr05">Profilé en aluminium de section 50x50 mm.</p>
      </div>
    </div>

    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>Si vous avez d’autres questions ou vous voulez apprendre plus sur des toiles à peindre, n'hésitez pas à <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">me contacter</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
