---
title: Dessous de la peinture
description: "Des planches de bois ou des cadres contre-plaqués présentent une alternative aux toiles et ils servent comme dessous optimaux pour la peinture éncaustique aussi bien que pour la peinture d’icôns."
permalink: /fr/dessous-de-la-peinture/
layout: default
group: product-group
lang: fr
language: French
og-locale: fr_FR
thumbnail: podlozky-pod-malbu.png
og-image: podlozka-pod-malbu-preglejka-na-rame-rozne-velkosti-og-w1200.jpg
order: 4
menu_exclude: false
sitemap:
  priority: 1
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd5 ofd3">
        <p>Déjà des maîtres anciens ont connu la qualité de la peinture sur les dessous en bois. La planche a été le dessous de la peinture le plus utilisé au XVe sièle.</p>
        <p>Comme un très bon exemple peut servir le tableau de la Joconde, un des chef-d’œuvres les plus connus dans l’histoire de l’art.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Un contre-plaqué sur cadre</h2>
        <p>Des cadres contre-plaqués sont une alternative aux toiles.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-preglejka-na-rame-rozne-hrubky" alt="contre-plaqué sur cadre et divers formats de cadres" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-preglejka-na-rame-rozne-velkosti" alt="diverses tailles de contre-plaqués sur cadre" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">Un contre-plaqué sur cadre et divers formats de cadres.</p>
      </div>
      <div class="col c6">
        <p class="pr05">Diverses tailles de contre-plaqués sur cadre.</p>
      </div>
    </div>


    <div class="row pb025">
      <div class="col cd9 ofd3">
        <h2 class="h2">Des planches en bois</h2>
        <p>Des planches en bois sont une alternative aux toiles.</p>
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-dub-rucne-sepsovana" alt="L’application de l’apprêt à la main sur une planche en chêne" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-smrek-rucne-sepsovana" alt="L’application manuelle de l’apprêt sur une planche d’épicéa" %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">L’application de l’apprêt à la main sur une planche en chêne.</p>
      </div>
      <div class="col c6">
        <p class="pr05">L’application manuelle de l’apprêt sur une planche d’épicéa.</p>
      </div>
    </div>


    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="podlozka-pod-malbu-drevena-doska-smrek-sepsovane-platno" alt="La toile couverte d’une couche d’apprêt collée sur une planche d’épicéa." %}
      </div>
    </div>

    <div class="row py05">
      <div class="col c6">
        <p class="pr05">La toile couverte d’une couche d’apprêt collée sur une planche d’épicéa.</p>
      </div>
    </div>


    <div class="row pt05">
      <div class="col cd9 ofd3">
        <p>Si vous avez d’autres questions ou vous voulez apprendre plus sur des toiles à peindre, n'hésitez pas à <a class="mail" href="mailto:{{ site.email }}" onmouseover="this.href=this.href.replace(/f/g,'k').replace(/b/g,'e');">me contacter</a>.</p>
      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
