---
title: Andrej Korec
subtitle: Toile à peindre
description: "La fléxibilité et de nouvelles solutions sont nos qualités qui vous rendront contents et qui sont appréciées mêmes par les peintres professionnels avec lesquels on coopère."
permalink: /fr/
layout: default
published: true
group: index
lang: fr
language: French
og-locale: fr_FR
og-image: andrej-korec-maliarske-platna-patricia-koysova-atelier-og-w1200.jpg
order: 3
---
<main class="px1">
  <div class="ctr">

    <div class="row pt05 pb1">
      <div class="col cd9">
        {% include image100vw.html basename="andrej-korec-maliarske-platna-patricia-koysova-atelier-kruh" alt="Patrícia Koyšová" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd4 ofd3 h2">
        <h1 style="display:none;">{{ page.title }}
          {% if page.subtitle %}<span class="h2 mt05">{{ page.subtitle }}</span>{% endif %}
        </h1>
        <p>Bienvenue! Je m’appelle Andrej Korec et je suis producteur des toiles à peindre et des dessous de la peinture.</p>
        <p>Grâce à mes expériences, je sais très bien que l’approche individuelle est très importante pour vous rendre contents de mes services.</p>
        <p>Je me rejouis à l’idée de travailler avec vous en vue d’atteindre un résultat positif.</p>
      </div>
    </div>

  </div>
</main>

{% include products-tiles.html %}
