---
title: Réfénces
description: "Je prépare des toiles pour les artistes peintres professionnels en Slovaquie, en République tchèque et dans d’autres pays européens."
permalink: /fr/refences/
layout: default
group: reference
lang: fr
language: French
og-locale: fr_FR
og-image: andrej-dubravsky-maliarske-platno-andrej-korec-og-w1200.jpg
order: 2
---
<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p>Je prépare des toiles pour les artistes peintres professionnels en Slovaquie, en République tchèque et dans d’autres pays européens.</p>
      </div>
    </div>

  </div>
</main>


<div class="p1">
  <div class="ctr">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="andrej-dubravsky-maliarske-platno-andrej-korec" alt="Andrej Dúbravský" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Andrej Dúbravský</p>
      </div>
    </div>


    <div class="row">
      <div class="col">
        {% include image100vw.html basename="katarina-janeckova-maliarske-platna-andrej-korec" alt="Katarína Janečková" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Katarína Janečková</p>
      </div>
    </div>


    <div class="row">
      <div class="col">
        {% include image100vw.html basename="patricia-koysova-maliarske-platna-andrej-korec" alt="Patrícia Koyšová" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Patrícia Koyšová</p>
      </div>
    </div>


    <div class="row">
      <div class="col">
        {% include image100vw.html basename="lucia-tallova-maliarske-platno-oval-andrej-korec" alt="Lucia Tallová" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Lucia Tallová</p>
      </div>
    </div>


    <div class="row">
      <div class="col">
        {% include image100vw.html basename="eva-mikulasova-prelet-maliarske-platna" alt="Eva Mikulášová" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Eva Mikulášová</p>
      </div>
    </div>


    <div class="row">
      <div class="col">
        {% include image100vw.html basename="dezider-toth-ram-obluk" alt="Dezider Tóth" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Dezider Tóth</p>
      </div>
    </div>


    <div class="row">
      <div class="col">
        {% include image100vw.html basename="erik-sille-atelier-napnute-platna" alt="Erik Šille" %}
      </div>
    </div>

    <div class="row py1">
      <div class="col cd9 ofd3">
        <p>Erik Šille</p>
      </div>
    </div>


    <div class="row">
      <div class="col cd9 ofd3 apr05">

        <a href="http://www.lacoteren.com/">Laco Teren</a> 
        <a href="http://www.sme.sk/c/3653773/vytvarnik-monogramista-td-hlas-doby-znie-v-reklame.html">Monogramista T.D</a> 
        <a href="http://www.katarinajaneckova.com">Katarína Janečková</a> 
        <a href="http://andrejdubravsky.com">Andrej Dúbravský</a> 
        <a href="http://www.marekormandik.eu/">Marek Ormandík</a> 
        <a href="http://ivancsudai.sk/">Ivan Csudai</a> 
        <a href="http://eriksille.com/">Erik Šille</a> 
        <a href="http://www.zskraskys.edu.sk/cipar/zivotopis.html">Miroslav Cipár</a> 
        <a href="http://www.pluska.sk/sport/sport-bulvar/tenisovy-trener-milovnik-umenia-jan-kukal-oslavil-70-ku.html">Jan Kukal</a> 
        <a href="http://zahorie.sme.sk/c/6503036/akademicka-maliarka-olga-bartosikova-jubiluje.html">Oľga Bartošíková</a> 
        <a href="http://www.julianamrvova.com/">Juliana Mrvová</a> 
        <a href="http://janafarmanova.com">Jana Farmanová</a> 
        <a href="http://www.evamikulasova.com/">Eva Mikulášová</a> 
        <a href="http://www.patriciakoysova.com/">Patrícia Koyšová</a> 
        <a href="http://www.asil.sk/portfolia.php?artist=noemi">Noémi Kolčáková Szákallová</a> 
        <a href="http://www.beakrasna.eu/">Beáta Krasňanská</a> 
        <a href="http://www.galeriazz.sk/">Zuzana Bobovská</a> 
        <a href="http://www.luciatallova.com/">Lucia Tallová</a> 
        <a href="http://www.sme.sk/c/3823547/vytvarnik-martin-knut-aj-reklama-je-uz-vyprazdneny-pojem.html">Martin Knut</a> 
        <a href="http://www.pluska.sk/mamina/vase-pribehy/kazdy-je-niekde-cudzincom.html">Radostina Doganová</a> 
        <a href="http://www.sarahavni.com">Sarah Ivana Avni</a> 
        <a href="http://hanamiku.wix.com/portfoliohanamikulenkova">Hana Mikulenková</a> 
        <a href="http://www.vip.sk/sk/miroslav-rudavsky">Miroslav Rudavský</a> 
        <a href="http://dominikazakova.blogspot.sk">Dominika Žáková</a> 
        <a href="http://www.alexandrabarth.com">Alexandra Barth</a> 
        <a href="http://www.sbart.sk/">Stano Bajer</a>

      </div>
    </div>

  </div>
</div>

{% include products-tiles.html %}
